psutil>=5.1.0
memory_profiler>=0.58
pytest
requests
black
isort
flake8=6.0.0
flake8-builtins=2.1.0
flake8-simplify=0.19.3
flake8-comprehensions=3.10.1
flake8-pytest-style=1.6.0
flake8-return=1.2.0
flake8-pyproject=1.2.3
pre-commit=3.3.3